.TwoTrackSlider {
    display: flex;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}

input[type=range]{
    pointer-events: none;
}

input[type=range]::-ms-thumb{
    pointer-events: auto;
}

input[type='range']::-webkit-slider-runnable-track {
    border-radius: 25px;
    background: #12c542;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
    background: none;
}
    
input[type='range']::-webkit-slider-thumb {
    position:relative;
    height: 15px;
    width: 15px;
    background: rgb(172, 243, 130);
    border: 1px solid #086324;
    border-radius: 25px;
    z-index: 1;
    pointer-events: auto;
}
      
input[type='range']:nth-child(1)::-webkit-slider-thumb{
    z-index: 2;
}
    
.rangeslider{
    width: 135px;
    padding-bottom: 20px;
}

#min {
    text-align: right;
}

#min, #max {
    width: 25px;
}

.rangeslider input{
    position: absolute;
}

@-moz-document url-prefix() {
    input[type='range'] {
        margin-left: 0px;
        width: 130px;
        height: auto;
        overflow: hidden;
        cursor: pointer;
        outline: none;
    }

    .rangeslider{
        position: relative;
        height: auto;
        width: 130px;
        display: inline-block;
    }

    .rangeslider::before{
        border-radius: 25px;
        margin-top: 13px;
        content:'';
        width:100%;
        height:18px;
        background: #12c542;
        display:block;
        position: relative;
    }
    
    input[type='range']:nth-child(1){
        overflow:visible !important;
        height:0;
    }
    
    input[type='range']:nth-child(2){
        overflow:visible !important;
        height:0;
    }

    input[type='range']::-moz-range-thumb {
        position:relative;
        height: 15px;
        width: 15px;
        background: rgb(172, 243, 130);
        border: 1px solid #086324;
        border-radius: 25px;
        z-index: 1;
        pointer-events: auto;
    }
    
    input[type='range']:nth-child(1)::-moz-range-thumb {
        transform: translateY(-11px);    
    }
    input[type='range']:nth-child(2)::-moz-range-thumb {
        transform: translateY(-11px);    
    }
}